<nav class="navbar navbar-expand-lg top-0 left-0 w-[100%] py-[15px] border-b-[1px] border-border-color">
  <div class="container !justify-center">
    <a class="navbar-brand mr-0 w-[175px] d-flex flex-col align-items-center" href="#">
      <img class="h-[90px]" src="/assets/images/glass.png" alt="Logo">
      Email Investigator Agent
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="language-switcher relative">
          <div class="language-switcher__result group peer text-white [.navbar-scroll_&]:!text-black cursor-pointer" [ngClass]="{'is-active': isLanguageClicked}" (click)="clickLanguageSwitcher()"><span class="mr-[5px]">{{ activeLanguage }}</span> <span class="group-[.is-active]:rotate-180 transition-all inline-block"><i class="bi bi-chevron-down"></i></span></div>
          <ul class="absolute top-[100%] right-0 w-[150px] bg-white border-0 py-[5px] translate-y-[10px] opacity-0 pointer-events-none transition-all peer-[.is-active]:translate-y-[5px] peer-[.is-active]:opacity-[1_!important] peer-[.is-active]:pointer-events-auto">
              <li *ngFor="let item of languageList" class="p-[3px_15px] cursor-pointer" [ngClass]="{'active': item.isActive}">{{ item.name }}</li>
          </ul>
      </div> -->
  </div>
</nav>